services:
  mariadb:
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    image: mariadb
    container_name: mariadb
    ports:
      - "3306:3306"
    volumes:
      - /home/phwang/data:/var/lib/mysql
    env_file:
      - .env